main {
  background: linear-gradient(to bottom right, #274B74 0%, #8233C5 50%, #E963FD 100%);
}

.App {
  text-align: center;
  
}

.app-component {
  margin: 150px auto 0 auto;
  max-width: 450px;
}

@media screen  and (max-width: 600px) {

  .app-component {
    max-width: 75%;
  }
  
}



